# Python
__pycache__/
*/__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
ENV/
env/
.env/
.env
.env.*
!.env.example

# Test / caching
.coverage
.coverage *
htmlcov/
.cache/
.pytest_cache/
coverage.xml

# Local databases
*.db
*.sqlite
*.sqlite3

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store

# Editors / IDEs
.idea/
.vscode/

# Log Files
logs/
*.log
